.light{
    --primary-color:#23B7E5;        /*主题高亮色*/
    --bg-color: #FFFFFF;            /*背景色*/
    --code-bg: #23241f;            /*代码块背景色*/
    --border-color:#dcdfe6;         /*边框颜色*/
    --border-color-1:#e4e7ed;       /*item卡片边框颜色*/
    --box-shadow: 0 10px 10px -5px rgb(220,223,230);    /*导航条阴影*/
    --shadow:0px 2px 10px -5px #999999;                 /*item卡片hover阴影*/
    --text-color-1:#303133;         /*文字颜色*/
    --text-color-2:#606266;         /*文字颜色*/
    --text-color-3:#909399;         /*文字颜色*/
    --code-color:#f8f8f2;         /*代码块颜色*/
    --sider-bg-color:#F5F5F5;       /*侧边栏背景色*/
}
.dark{
    --primary-color:#23B7E5;
    --bg-color: #181818;
    --code-bg: #F5F5F5;
    --border-color:#4C4D4F;
    --border-color-1:#414243;
    --box-shadow: 0 10px 10px -5px rgb(76,77,79); 
    --shadow:0px 2px 10px 0 #BBB;
    --text-color-1:#E5EAF3; 
    --text-color-2:#CFD3DC; 
    --text-color-3:#A3A6AD; 
    --code-color:#303133;
    --sider-bg-color:#222;
}
/*蓝色 #23B7E5 */
/*绿色 #3EAF7C */

body {
    box-sizing: border-box;
    background-color: var(--bg-color) !important;
    /* 禁用文字选中 */
    /* user-select: none; */
    font-size: 14px;
    /* color: var(--color-2) !important; */
    font-family: 'Ubuntu,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;';
}
body::-webkit-scrollbar{
	width:4px;
}
body::-webkit-scrollbar-thumb{
	background-color: var(--primary-color);
}
body::-webkit-scrollbar-track{
	background-color: transparent;
}

img {
    /* 禁止拖到图片 */
    -webkit-user-drag: none;
}

a{
    color: var(--text-color-1) !important;
}

/* 媒体查询 */
@media only screen and (max-width:767px) {
    .hidden-xs-only {
        display: none !important
    }
    .image{
        height: 200px !important;
    }
}

@media only screen and (min-width:768px) {
    .hidden-sm-and-up {
        display: none !important
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .hidden-sm-only {
        display: none !important
    }
}

@media only screen and (max-width:991px) {
    .hidden-sm-and-down {
        display: none !important
    }
}

@media only screen and (min-width:576px) and (max-width:1919px) {
    .hidden-xs {
        display: none !important
    }
}

@media only screen and (max-width:575px) {
    .hidden-xs-and-down {
        display: none !important
    }
}

@media only screen and (min-width:992px) {
    .hidden-md-and-up {
        display: none !important
    }
}

@media only screen and (min-width:992px) and (max-width:1199px) {
    .hidden-md-only {
        display: none !important
    }
}

@media only screen and (max-width:1199px) {
    .hidden-md-and-down {
        display: none !important
    }
}

@media only screen and (min-width:1200px) {
    .hidden-lg-and-up {
        display: none !important
    }
}

@media only screen and (min-width:1200px) and (max-width:1919px) {
    .hidden-lg-only {
        display: none !important
    }
}

@media only screen and (max-width:1919px) {
    .hidden-lg-and-down {
        display: none !important
    }
}

@media only screen and (min-width:1920px) {
    .hidden-xl-only {
        display: none !important
    }
}