.mobile {
    width: 100%;
    .lilst {
        width: 100%;
        background-color: transparent;
        .item {
            padding: 14px 0;
            border-bottom: 1px dashed #14171c;
        }
        
    }
}